.anket-edit__main {
    display: flex;
    padding-top: 16px;
    background-color: #E8F0F5;
    font-family: 'Inter', Arial, sans-serif;
    flex-shrink: 0;
    flex-grow: 1;
}

.main__content-conteiner {
    padding-inline: 15px;
    padding-block: 15px;
}

.main__left-container {
    width: 40%;
    border-right: 1px solid #343a40;
}

.anket-edit__form-checkbox {
    margin-bottom: 16px;
}

.anket-edit-label-checkbox {
    font-size: 13px;
}

.anket-edit-main__heading-container {
    display: flex;
    justify-content: space-between;
}

.anket-edit-main__heading {
    font-size: 20px;
    font-weight: 500;
}

.anket-edit-main__button-add {
    height: 28px;
    width: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #007bff;
    /* border-color: #007bff; */
    border-color: transparent;
    border-radius: 3px;
    cursor: pointer;
}

.anket-edit-main__button-add:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.chapter {
    margin-bottom: 16px;
}

.group-title {
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
}

.anket-fields-list-item {
    padding: 7px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-item-link {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    overflow: auto;
}

.list-item-link-text {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #007bff;
    font-size: 13px;
    line-height: 1.5;
    width: max-content;
    /* overflow: auto; */
}

.link-text-accent {
    font-weight: 600;
}

.list-item-link:hover .list-item-link-text {
    color: #0056b3;
}

.list-item-link:hover .list-item-link-icons {
    color: #494f54;
    fill: #494f54;
}

.list-item-link:hover .heading-image {
    fill: #494f54;
}

.icon-width {
    width: 16px;
}

.list-item-link-icons {
    color: #6c757d;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 13px;
}

.heading-image {
    fill: #6c757d;
}

.main__content-conteiner-text {
    color: #6c757d;
    font-size: 12px;
    margin-top: 10px;
}

.main__center-container {
    width: 25%;
    border-right: 1px solid #343a40;
}

.main__content-block-accent {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 4px;
    padding: 12px 15px;
    margin-block: 16px;
}

.main__content-block-heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.main__content-block-heading-container-hidden {
    display: none;
}

.content-block-title {
    font-size: 20px;
    font-weight: 500;
}

.main__content-block__buttons-container {
    display: flex;
    gap: 8px;
}

.content-block__button {
    height: 30px;
    width: 29px;
    border-radius: 4px;
    border-color: transparent;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.content-block__edit-button {
    color: #fff;
    background-color: #007bff;
}

.content-block__edit-button:hover {
    background-color: #0069d9;
}

.content-block__delete-button {
    color: #fff;
    background-color: #dc3545;
}

.content-block__delete-button:hover {
    background-color: #c82333;
}

.content-block__save-button {
    color: #fff;
    background-color: #28a745;
}

.content-block__save-button:hover {
    background-color: #218838;
}

.content-block__back-button {
    color: #fff;
    background-color: #6c757d;
}

.content-block__back-button:hover {
    background-color: #5a6268;
}

.content-block-input {
    height: 30px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ced4da;
    width: 70%;
}

.content-block__link {
    text-decoration: none;
    color: #4682B4;
    font-size: 13px;
    line-height: 1.2;
}

.content-block__link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.content-block__text-small {
    font-size: 10px;
    color: #6c757d;
    margin-top: 5px;
}

.main__right-container {
    width: 35%;
}

.dop-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.dop-item {
    /* display: grid;
    grid-template-columns: minmax(30px, max-content) 15% 1fr; */
    display: flex;
    gap: 5px;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
}

.dop-item-title {
    font-weight: 600;
}

.form-dop-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.form-dop-container-visible {
    display: none;
}

.form-dop {
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.form-dop__input {
    height: 30px;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #ced4da;
}

.form-dop__input-number {
    width: 60px;
}

.form-dop__input-text {
    max-width: 140px;
}

.field-off {
    display: none;
}

.popup-edit-anket-buttons-container {
    padding: 16px;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.popup-edit-anket-buttons-flex {
    display: flex;
    justify-content: space-between;
}

.popup-edit-anket-button {
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.popup-edit-anket-button-save {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.popup-edit-anket-button-save:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.popup-edit-anket-button-cancel {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.popup-edit-anket-button-cancel:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.popup-edit-anket-button-delete {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.popup-edit-anket-button-delete:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

@media (max-width: 1210px) {
    .anket-edit__main {
        flex-direction: column;
        gap: 16px;
    }

    .main__left-container,
    .main__center-container,
    .main__right-container {
        width: 95%;
        max-width: 100%;
    }

    .main__left-container,
    .main__center-container {
        border-right: 0;
        border-bottom: 1px solid #343a40;
    }

    .form-dop {
        width: 80%;
    }

    .form-dop__input-text {
        max-width: 300px;
        width: 300px;
    }
}

@media (max-width: 500px) {
    .main__left-container,
    .main__center-container,
    .main__right-container {
        width: 90%;
        max-width: 100%;
    }

    .form-dop__input {
        max-width: 100%;
        width: 100%;
    }
}