.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  position: relative;
  transition: opacity 0.3s;
}

.profile__image::before {
  content: '';
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../../images/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__image:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__image:hover::before {
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
